.menubd{
    width: max-content;
    height: max-content;
    padding: 30px;
    background-color: rgba(17, 25, 40, 0.681);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    button{
        padding: 15px;
        background-color: rgba(230, 74, 105, 0.533);
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: rgba(220, 20, 60, 0.796);
        }
        
        &.logout{
            padding: 10px;
            background-color: #1a73e8;
        }
    }
}